@model TestApp.Models.Suscriptor

@{
    ViewData["Title"] = "Crear";
}

<h1 class="text-center">Crear</h1>

<h4>Suscriptor</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label">Tipo Documento</label>
                 <select class="form-select" name="TipoDocumento" asp-for="TipoDocumento">
                  <option selected asp-for="TipoDocumento" required>Seleccione Tipo Doc</option>
                    @{
                        foreach (var item in (List<string>)ViewData["Tipo"]) {

                            <option asp-for="TipoDocumento" value="@item" required>@item</option>
                        }
                    }
                </select>
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"> N° Documento</label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label">Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PasswordUsuario" class="control-label">Contraseña</label>
                <input asp-for="PasswordUsuario" class="form-control" />
                <span asp-validation-for="PasswordUsuario" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
           <div class="form-group">
               <input type="submit" value="Create" class="btn btn-primary" asp-controller="Suscriptors"/>
           </div>
        </div>
    </div>
</form>
<br />
<form asp-controller="Suscriptors" asp-action="Index">
<div class="row">
       <div class="col-md-2">
           <div class="form-group">
                <button class="btn btn-warning" type="submit">Cancelar</button>
           </div>
       </div>
 </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
